{% extends "pages/base.html" %}

{% block title %}
<title>WIT Admin</title>
{% endblock %}

{% block page_wrapper %}

<div id="page-wrapper">
    <!--<div class="row">-->
        <!--<h1 class="page-header">Import Files</h1>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> JSW
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form id="jsw" action="{{ url_for('jsw') }}" method="post">
                        <div class="row">
                            <div class="col-lg-2"><input type="file" name="jswfile" value="jsw文件"></div>
                            <div class="clol-lg-2">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a onclick="document.getElementById('jsw').submit();">单个JSW文件</a>
                                            </li>
                                            <li><a href="#" onclick="submit()">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<input type="submit" value="提交">-->
                    </form>
                    <!--<div id="morris-area-chart"></div>-->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> DIT-MCO
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form id="ditmco" action={{ url_for(
                    'ditmco') }} method="post">
                    <div class="row">
                        <div class="col-lg-2"><input type="file" id="Myfile2" name="ditmcofile" value="pgv文件"></div>
                        <div class="clol-lg-2">
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a onclick="document.getElementById('ditmco').submit();">单个PVG文件</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<input type="submit" value="提交">-->
                    </form>
                    <!--<div id="morris-area-chart"></div>-->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Clear
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form id="clear" action={{ url_for('clear') }} method="post">

                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " role="menu">

                            <li><a onclick="document.getElementById('clear').submit();">清空数据库</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>

                    </form>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>


    </div>
    <div class="row">
                <div class="col-lg-12">
            <div class="panel panel-default">
            {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
            </div>
                </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Graph
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="graph_chart" style="height: 600px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->

    </div>

</div>


<!-- /#page-wrapper -->
{% endblock %}

{% block page_js %}
<script src={{ url_for("static",filename="data/file_import_data.js") }}></script>

{% endblock %}

</html>
