{% extends "pages/base.html" %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block page_wrapper %}
        <div id="page-wrapper">
            <div class="row">
             <h1 class="page-header">Dashboard</h1>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Testing Progress
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="stackline" style="height: 400px"></div>
                            <!--<div id="morris-area-chart"></div>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> HIGH Distribution
                        </div>
                        <div class="panel-body">
                            <div id="piechart" style="height:400px"></div>
                            <!--<div id="morris-donut-chart"></div>-->
                            <!--<a href="#" class="btn btn-default btn-block">View Details</a>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> ATA Status

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-8">
                                    <!--<div id="morris-bar-chart"></div>-->
                                    <div id="ybars" style="height:500px"></div>
                                </div>
                                <div class="col-lg-4">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Multiple Selects</label>
                                        <select multiple class="form-control">
                                            <option>ATA21</option>
                                            <option>ATA23</option>
                                            <option>ATA30</option>
                                            <option>ATA33</option>
                                            <option>ATA49</option>
                                            <option>ATA76</option>
                                            <option>ATA78</option>
                                            <option>ALL</option>
                                        </select>

                                <div class="btn-group">
                                    <button type="button" class="glyphicon glyphicon-cloud-download btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Prog. Generation
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">P prog.</a>
                                        </li>
                                        <li><a href="#">V Prog.</a>
                                        </li>
                                        <li><a href="#">G Prog.</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">?</a>
                                        </li>
                                    </ul>
                                </div>
                            <!--</div>-->
                                    </div>
                                </form>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('static', filename='data/dashboard_data.js') }}"> </script>
{% endblock %}

</html>
