{% extends "pages/base.html" %}

{% block title %}
    <title>WIT Admin</title>
{% endblock %}

{% block page_wrapper %}
        <div id="page-wrapper">
            <!--<div class="row">-->
             <!--<h1 class="page-header">Record</h1>-->
                <!--&lt;!&ndash; /.col-lg-12 &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="input-group custom-search-form">-->
                                <!--<input type="text" class="form-control" placeholder="Search...">-->
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-camera fa-fw"></i> Record
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">

                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">默认</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 无
                                            </small>
                                        </div>
                                        <p>
                                            记录。。。
                                        </p>
                                    </div>
                                </li>

                            </ul>

                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block page_js %}
 <script type="text/html" id="note_record">
<li class="left clearfix ">
<span class="chat-img pull-left">
 <img src="http://placehold.it/50/FF00FF/fff" alt="User Avatar" class="img-circle" />
</span>
 <div class="chat-body clearfix ">
<div class="header">
<strong class="primary-font"> str_user</strong>
<small class=" text-muted pull-right">
 <i class="fa fa-clock-o fa-fw"></i> str_datetime</small>
</div>
<p>str_note</p>
</div>
</li>
</script>

<script src={{ url_for("static",filename="data/record_data.js") }}> </script>

{% endblock %}

</html>

